<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,intial-scale=1.0">
        <title>Pneumonia Detection</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
    <nav>
        <img src="{{ url_for('static', filename='images/vvce.jpeg') }}" alt="" class="logo">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/detect-pneumonia">Detect Pneumonia</a></li>
            <li><a href="/intro">Intro</a></li>
        </ul>
        
         <button class="nav-btn">Get started <img src="{{ url_for('static', filename='images/arrow-white.jpg') }}" alt=""> </button>
         <img src="{{ url_for('static', filename='images/menu.jpg') }}" alt="" class="menu-icon">
    </nav>
    <div class="header">
        <h1><span>PNEUMONIA</span><br><span>DETECTION</span></h1>
       
         
         <img src="{{ url_for('static', filename='images/human-lungs-black-human-lungs-black-background_260899-2003.avif') }}" alt="" class="user-img">
    </div>


    <script>
        let navbar = document.querySelector('nav');

        window.onscroll = function(){
            if(window.scrollY > 0){
                navbar.style.background = '#eefff9';
            }else{
                navbar.style.background = 'transparent';
            }

        }
    </script>
    </body>
</html>